{% extends 'base.html.twig' %}
{% import '_macros.html.twig' as macros %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="max-w-8xl mx-auto mt-5 mb-10">
        <div class="flex justify-between items-center mb-5">

            <h1 class="text-3xl font-bold text-gray-800">Liste des sorties</h1>

            <div class="flex items-center gap-4">
                {# Filtres de sélection #}
                {% include 'sortie/_filters.html.twig' %}

                {# Bouton de création des sorties #}
                {% if app.user %}
                    {{ macros.actionButton(path('app_sortie_new'), 'Créer une sortie', 'green') }}
                {% endif %}
            </div>

        </div>

        {# Tableau des sorties ou message d'avertissement si il n'y a aucune sortie #}
        {% if sorties is empty %}
            <p class="text-center text-gray-600 italic">Aucune sortie n'a été créée pour le moment.</p>
        {% else %}
            {% include 'sortie/_table.html.twig' %}
        {% endif %}

    </div>
{% endblock %}
